* {
  margin:0;
  padding:0;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

a:link {
  color: lightskyblue;
}

a:visited {
  color: aqua;
}

.background {
  background-image: url("./vs.jpg");
  background-size: cover;
}

#titlename {
  background-color: rgba(0, 27, 110, 0.5);
}

#name {
  height: 300;
  color: white;
  padding: 20px 20px 0px 80px;
  font-size: 3rem;

}
#namedesc {
  height: 300;
  color: white;
  padding: 0 0 20px 90px;
  font-size: 2rem;
}

.title {
  padding: 20px;
  font-size: 2rem;
}

#bio {
  color: rgba(255,255,255,0.8);;
  position: absolute;
  top: 200px;
  left: 300px;
  width: 420px;
  height: 320px;
  border-radius: 20px;
  background-color: rgba(0, 27, 110, 0.5);
  z-index: 30;
  transition: top 1s ease-out, left 1s ease-out;
}

#bio:hover {
  top: 230px;
  left: 320px;
  z-index: 40;
  background-color: rgba(0, 27, 110, 0.9);
  color: white;
}

#bio a, ul, p {
  padding: 40px;
  font-size: 1.5rem;
}

#bio ul a {
  padding: 0;
}

#projects {
  color: rgba(255,255,255,0.8);
  position: absolute;
  top: 450px;
  left: 100px;
  width: 420px;
  height: 320px;
  border-radius: 20px;
  background-color: rgba(0, 27, 110, 0.5);
  z-index: 20;
  transition: top 1s ease-out, left 1s ease-out;
}

#projects:hover {
  top: 390px;
  left: 170px;
  z-index: 40;
  background-color: rgba(0, 27, 110, 0.9);
  color: white;
}

#projects a, ul, p {
  padding: 40px;
  font-size: 1.5rem;
}

#projects ul a {
  padding: 0;
}

#contact {
  color: rgba(255,255,255,0.8);
  position: absolute;
  top: 530px;
  left: 450px;
  width: 420px;
  height: 320px;
  border-radius: 20px;
  background-color: rgba(0, 27, 110, 0.5);
  z-index: 10;
  transition: top 1s ease-out, left 1s ease-out;
}

#contact:hover {
  top: 490px;
  left: 460px;
  z-index: 40;
  background-color: rgba(0, 27, 110, 0.9);
  color: white;
}

#contact a, ul, p {
  padding: 40px;
  font-size: 1.5rem;
}

