p.name {
  text-align: center;
  position: absolute;
  width: 60%;
  height: 10%;
  left: 20%;
  background-color: #22DDFF;
  box-shadow: 10px 10px #444444;
  
  animation-name: nameanim;
  animation-duration: 10s;
}

@keyframes nameanim {
  from {background-color: red;}
  to {background-colr: green;}
}




p.projects {
  width: 40%;
  height: 50%;
  position: absolute;
  top: 15%;
  left: 5%;
  
  background-color: #5555FF;
  
  box-shadow: 10px 10px #444444;
}
p.bio {
  width: 40%;
  height: 50%;
  position: absolute;
  left: 55%;
  top: 15%;
  
  background-color: #EE55EE;
  
  box-shadow: 10px 10px #444444;
}
p.contact {
  width: 60%;
  height: 20%;
  position: absolute;
  top: 70%;
  left: 20%;
  
  box-shadow: 10px 10px #444444;
}
body {
  background-attachment: scroll;
}

